.login-page {
  width: 100%;
  height: 100%;
  background-image: url(../../assets/image/login-bg.svg);
  background-repeat: no-repeat;
  background-position: center 110px;
  background-size: 100%;
  background-color: #f0f2f5;
  .login-box {
    margin: 0 auto;
    margin-top: 100px;
    width: 328px;
    .title {
      text-align: center;
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 40px;
    }
    .icon-shouji, .icon-mima1, .icon-yanzhengma {
      color: #1890ff;
    }
    .code-box {
      display: inline-block;
      height: 38px;
      width: 78px;
      margin-left: 14px;
      line-height: 38px;
      padding: 0 10px;
      border: 1px solid rgba(0, 0, 0, 0.12);
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 2px;
      background-image: url(../../assets/image/code-bg.jpeg);
    }
  }
}