.app-page {
  height: 100%;
  width: 100%;
  display: flex;
  .navbar-content {
    height: 100%;
    overflow-y: auto;
    flex-shrink: 0;
  }
  .app-content {
    height: 100%;
    width: 0;
    flex: 1;
    .app-body {
      height: 100%;
      width: 100%;
      background-color: #F3F3F3;
      overflow-x: auto;
      .app-page {
        height: 100%;
        min-width: 960px;
        overflow-x: auto;
        .table-column-search {
          display: flex;
          align-items: center;
          span {
            margin-right: 4px;
          }
          .iconfont {
            font-size: 14px;
            color: #1890ff;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.tab-page {
  height: 100%;
  .header {
    height: 40px !important;
  }
  .ant-tabs {
    height: 100%;
    margin-top: 16px;
    .ant-tabs-content {
      height: 100%;
      .tab-content {
        height: calc(100% - 6px);
      }
    }
  }
  .ant-tabs-top > .ant-tabs-nav {
    margin: 0
  }
  .tab-content {
    .header {
      height: 40px;
    }
  }
}

.change-pwd-form {
  .ant-form-item-label {
    width: 80px;
  }
  .form-btn {
    text-align: right;
  }
}